body {
  background-color: #ffc373;
  margin: 0vw;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.productMainContainer {
  background-color: #ffc373;
  margin: 0 auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.header {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.containerOfsortsAndproducts {
  display: flex;
  flex-direction: row;
}

.sortButtons {
  display: flex;
  justify-content: flex-start;
}
.sortButtons button {
  background-color: #7373d9;
  color: #61d7a4;
  border: 1px solid #7373d9;
  padding: 0.26vw 0.52vw;
  cursor: pointer;
  border-radius: 0.52vw;
  height: 80%;
  margin-right: 0.26vw;
  font-size: 1vw;
}
.sortButtons button.active {
  background-color: #ffdc72;
  color: #7373d9;
  font-weight: bold;
}
.inputSearch {
  width: 17.5vw;
  height: 80%;
  outline: none;
  height: 1vw;
}
.sortByColor,
.sortByCategory {
  margin-top: 0.52vw;
  display: flex;
  flex-direction: column;
  border: 0.05vw solid #7373d9;
  padding: 0.26vw;
  width: 80%;
  border-radius: 0.52vw;
}
.sortByColorText,
.sortByCategoryText {
  color: #61d7a4;
  text-align: left;
  font-size: 1vw;
}
.tagOfSort {
  color: #7373d9;
  margin-top: 0.52vw;
  margin-bottom: 0.52vw;
  text-align: left;
  font-size: 1vw;
}

.oneProduct {
  border: 0.05vw solid #7373d9;
  padding: 0.52vw;
  margin-bottom: 0.52vw;
  display: flex;
  width: 23%;
  margin-top: 0.52vw;
  border-radius: 0.26vw;
  margin-right: 0.52vw;
}
.productContainer {
  display: flex;
  width: 50vw;
  flex-wrap: wrap;
  font-size: 1vw;
}
.color {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.colorText {
  color: #61d7a4;
}
.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.priceText {
  color: #61d7a4;
}
.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.categoryText {
  color: #61d7a4;
}
.rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ratingText {
  color: #61d7a4;
}
.productInfo {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-right: 0.52vw;
}
.productValues {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.productValues p {
  margin: 0vw;
}

.productInfo img {
  width: 100%;
  height: 100%;
  background-color: #ffdc72;
  border: 0.16vw solid #7373d9;
  border-radius: 0.26vw;
}

.productInfo h2 {
  font-size: 0.1vw;
  margin: 0.26vw 0;
  color: #7373d9;
}
.productInfo h4 {
  font-size: 0.05vw;
  margin: 0.26vw 0;
  font-weight: normal;
  color: gray;
}
.SortCheckbox {
  width: 0.5vw;
  height: 0.5vw;
  margin-right: 1vw;
  -webkit-appearance: none;
  appearance: none;
  margin-left: -0.05vw;
  margin-bottom: 1vw;
}
.SortCheckbox::before {
  content: " ";
  display: flex;
  width: 0.5vw;
  height: 0.5vw;
  border-radius: 0.5vw;
  border: 0.3vw solid #7373d9;
  background-color: white;
}

.SortCheckbox:checked::before {
  background-color: #61d7a4;
}
@media (max-width: 1000px) and (max-height: 1000px) {
  .inputSearch {
    width: 15.5vw;
  }
}
@media (max-width: 1200px) and (max-height: 1200px) {
  .inputSearch {
    width: 16.8vw;
  }
}
@media (max-width: 1300px) and (max-height: 1300px) {
  .inputSearch {
    width: 17.2vw;
  }
}
@media (max-width: 300px) and (max-height: 500px) {
  .productMainContainer {
    width: 90%;
  }
  .inputSearch {
    height: 3vw;
  }
  .header {
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .containerOfsortsAndproducts {
    flex-direction: column;
  }

  .sortButtons button {
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 5px;
    width: 28vw;
    height: 4vw;
    font-size: 2vw;
  }
  .typesOfSort {
    display: flex;
    flex-direction: row;
    margin-top: -2px;
  }
  .sortByCategory,
  .sortByColor {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    width: 100%;
    border: 1px solid #7373d9;
    border-radius: 5px;
  }
  .tagOfSort {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 5vw;
    text-align: left;
  }
  .SortCheckbox {
    width: 3vw;
    height: 3vw;
  }
  .sortByColorText,
  .sortByCategoryText {
    font-size: 3vw;
  }
  .productInfo img {
    border-radius: 5px;
  }
  .searchBar {
    width: 260px;
    margin-top: 3px;
    border-radius: 2px;
  }
  .inputSearch {
    width: 252px;
  }
  .oneProduct {
    align-items: center;
    justify-content: center;
    border: 1px solid #7373d9;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    width: 80vw;
    margin-top: 10px;
    border-radius: 5px;
    margin-left: 1.5vw;
  }
  .productContainer {
    display: flex;
    flex-direction: column;
    width: 50vw;
    flex-wrap: wrap;
    font-size: 5vw;
  }
  .SortCheckbox {
    width: 2vw;
    height: 2vw;
    margin-right: 2vw;
    margin-left: 1vw;
  }
  .SortCheckbox::before {
    width: 2vw;
    height: 2vw;
    border-radius: 1vw;
    border: 0.4vw solid #7373d9;
  }
}
